<div class="chat-container">
  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
    <div class="messages" #messagesContainer>
      <div
        *ngFor="let msg of messages$ | async"
        [ngClass]="{
          'my-message': msg.email === userEmail,
          'other-message': msg.email !== userEmail
        }"
        class="message"
      >
        <div>
          <span class="message-header-email">{{ msg.email }}</span>
          <span class="message-header-date">
            [{{ msg.timestamp?.toDate() | date: 'short' }}]</span
          >
        </div>

        <div class="message-card">
          <p class="message-text">{{ msg.message }}</p>
        </div>
      </div>
    </div>

    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="chat-form">
      <div class="input-container">
        <textarea
          class="input-message"
          placeholder="Escribe tu mensaje"
          formControlName="message"
          [rows]="1"
          (input)="adjustTextArea($event)"
        ></textarea>
        <div
          class="error"
          *ngIf="chatForm.controls['message'].errors?.['maxlength']"
        >
          ¡Máximo 100 caracteres permitidos!
        </div>
      </div>
      <button class="btn-send" type="submit" [disabled]="chatForm.invalid">
        Enviar
      </button>
    </form>
  </ng-container>

  <ng-template #notLoggedIn>
    <div class="not-logged-in">
      <h3>¡Ingresa para chatear!</h3>
    </div>
  </ng-template>
</div>
