@import '../../../../styles.scss';

button {
  background-color: black;
  color: $green;
  border: 2px solid $green;
  padding: 10px 15px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: darken($green, 20%); 
}

.game-card {
  border: 3px solid $green;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: black;
}

.game-dashes {
  font-size: 2rem;
  margin: 10px 0;
  letter-spacing: 10px;
  color: $yellow; 
}

.letters button {
  margin: 4px;
  min-width: 40px;
  background-color: transparent;
  border: 2px solid $light-gray;
  color: white;
  cursor: pointer;
  
}
.letters button:hover{
  margin: 4px;
  min-width: 40px;
  background-color: transparent;
  border: 2px solid $green;
  color: white;
  cursor: pointer;
}

.letters button.correct {
  background-color: $green; 
  border: 2px solid $green;
  color: black; 
}

.letters button.wrong {
  background-color: $red; 
  border: 2px solid $red;
  color: white;
}
.hangman-drawing {
  font-family: "Courier New", monospace;
  color: $green;
  background-color: black;
  padding: 10px;
  border: 2px solid $green;
  display: inline-block;
  margin-bottom: 1rem;
  white-space: pre; 
}
.hangman-drawing-final {
  font-family: "Courier New", monospace;
  color: $green;
  background-color: black;
  padding: 10px;
  border: 2px solid $red;
  display: inline-block;
  margin-bottom: 1rem;
  white-space: pre; 
}

.endgame {
  text-align: center;
  margin-top: 20px;
  color: $yellow;

  p {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  button {
    margin-top: 15px;
  }
}
