<div class="d-flex align-items-center flex-column">
    <img class="profile-pic" src="https://picsum.photos/200/300" alt="">
    <h1>Mauro Panzini</h1>
    <h3>Desarrollador .NET - Estudiante de programación en la UTN</h3>
    <p>Juego propio: 4 en línea</p>
    <p>Este divertido juego de estrategia para 2 jugadores consiste en una grilla donde se irán colocando 
        las fichas de cada jugador. El objetivo es alinear 4 fichas en cualquier dirección, vertical, horizontal y diagonal,
        mientras intentas bloquear a tu adversario de hacer lo mismo!
    </p>
</div>

