  <div class="login-container">
    <div class="background">
      <div class="sun"></div>
      <div class="trees">
        <div class="tree"></div>
        <div class="tree medium"></div>
        <div class="tree large"></div>
      </div>
    </div>
  
    <div class="login-box">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm">
        <input type="email" formControlName="username" placeholder="CORREO ELECTRONICO" />
        <input type="password" formControlName="password" placeholder="CONTRASEÑA" />
        <button (click)="onSubmit()">Ingresar</button>
      </form>
    </div>
  </div>
  