@import "../../../styles.scss";


.gif-container {
  width: 100%;
  height: 55vh; /* Ajusta la altura según lo que necesites */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el GIF sin perder proporciones */
}


.terminal-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45vh; /* Terminal ocupa la parte inferior */
  background-color: black;
  border-top: 3px solid green;
  // box-shadow: 0 -5px 15px green;
  display: flex;
  flex-direction: column;
}

.terminal-header {
  padding: 5px 15px;
  border-bottom: 2px solid green;
  background-color: #002b00;
  font-weight: bold;
  color: lime;
}

.terminal-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.terminal-line {
  font-size: 0.8rem;
  animation: typeEffect 0.8s steps(40, end) forwards;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typeEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.terminal-prompt {
  font-weight: bold;
  margin-top: 10px;
}

.terminal-label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: lime;
}

.terminal-input {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: lime;
  border: 2px solid green;
  font-family: "Courier New", monospace;
}

.terminal-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 2px solid green;
  background-color: black;
  color: lime;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.terminal-button:hover {
  background-color: green;
  color: black;
}
