<h4 class="retro-title">Bienvenido, {{ userName }}!</h4>

<div class="home-layout">
  <!-- IZQUIERDA: Juegos -->
  <div class="column">
    <div class="card" (click)="navigateToGame('ahorcado')">Ahorcado</div>
    <div class="card" (click)="navigateToGame('preguntados')">Preguntados</div>
    <div class="card" (click)="navigateToGame('mayor-menor')">Mayor o Menor</div>
    <div class="card" (click)="navigateToGame('buscaminas')">Buscaminas</div>
  </div>

  <!-- CENTRO: Puntaje y Chat -->
  <div class="column center-column">
    <div class="puntaje-mas-alto-card">
      <h3>Juegos mas jugados</h3>
       <canvas id="gameChart"></canvas>
    </div>
    <div class="card" (click)="goToChat()">
      <h3>Chat</h3>
      <p>Ingresa al chat global para compartir tus ideas!</p>
    </div>
  </div>

  <!-- DERECHA: Configuración -->
  <div class="column">
    <div class="card" (click)="toggleConfiguracion()">
      <h3>Configuración</h3>
      <p>Preferencias del jugador, sonido, etc.</p>
    </div>
  </div>
</div>

<!-- Panel flotante de configuración -->
<div class="config-panel" *ngIf="mostrarConfiguracion">
  <h3>Elegí un fondo</h3>
  <div class="gif-options">
    <img *ngFor="let fondo of fondos"
         [src]="fondo"
         (click)="cambiarFondo(fondo)"
         [class.selected]="fondo === fondoSeleccionado"
    />
  </div>
  <button class="button"(click)="quitarFondo()">Sin fondo</button>
</div>
