<mat-toolbar>
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <div [ngClass]="{ collapsed: collapsed() }" class="sidenav-wrapper">
      
      <!-- Header del usuario -->
      <div class="sidenav-header">
        <img class="profile-pic" src="https://picsum.photos/200" alt="Profile" />
        <div class="header-text">
          <h2>{{ userName() || 'Anonimo' }}</h2>
          <p>{{ userEmail() || '' }}</p>
        </div>
      </div>

      <!-- Menú principal -->
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of mainMenuItems()" [routerLink]="item.route">
          <mat-icon matListItemIcon class="p-0">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      </mat-nav-list>

      <!-- Botón abajo -->
      <div class="bottom-button">
        <ng-container *ngFor="let item of bottomMenuItems()">
          <a mat-list-item [routerLink]="item.route" (click)="item.label === 'Salir' && onLogout()">
            <mat-icon matListItemIcon class="p-0">{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        </ng-container>
      </div>

    </div>
  </mat-sidenav>
  
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
